{% extends "base.html" %}

{% block content %}
  <h2>The Community</h2>
  <p>
    LangCorrect is filled with awesome people who have a passion for knowledge and languages. It's important to remember that we are a global community and that we won't necessarily share the same opinions and beliefs that you do. We want every one of our members to feel welcome and safe. So, please be polite and respectful in your interactions with other members.
  </p>
  <h2>Conduct & Behavior</h2>
  <ul>
    <li>Please respect our community and its members</li>
    <li>Please consider the language ability of the user with whom you are interacting with</li>
    <li>Please use this service for language learning</li>
    <li>Please use proper spelling and grammar (unless the author of the journal has asked otherwise)</li>
    <li>Please use the voting system (thumbs up) to mark good corrections</li>
    <li>
      Please use the reporting system to report spam, malicious corrections, comments, or users who are not abiding by the rules
    </li>
    <li>Please remember that language learning is also about having fun and making new friends</li>
    <li>
      Please remember to give back to the community by correcting journals or answering questions (failure to do so may result in losing privileges)
    </li>
  </ul>
  <h2>Prohibited Behavior & Content</h2>
  <ul>
    <li>Web scraping or using automated tools</li>
    <li>Abusing the voting or reporting system</li>
    <li>Asking for personal information</li>
    <li>Being intentionally rude or malicious</li>
    <li>Bullying or making inflammatory remarks to other community members</li>
    <li>Creating multiple accounts to evade punishment or avoid restrictions</li>
    <li>Conducting personal attacks on other users</li>
    <li>
      Getting involved in conflicts between other members (doing so will make you a participant and, as such, you will bear equal responsibility)
    </li>
    <li>Discussing religion, political problems, or subjects that are controversial in other countries</li>
    <li>Posting and commenting on sexual themes</li>
    <li>Doxing (posting or linking to someone's personal information)</li>
    <li>Engaging in illegal activity</li>
    <li>Posting content that is not yours (allowed if properly cited)</li>
    <li>Posting prejudiced comments or profanity</li>
    <li>Spamming</li>
    <li>
      Using a temporary email service to create an account (we may disable accounts found to be using temporary email addresses)
    </li>
    <li>Using this service for dating</li>
    <li>Writing journal posts and not correcting or giving back to the community.</li>
  </ul>
  <h2>Prohibited Behavior & Content</h2>
  <p>
    We will take necessary action to protect the integrity of this community. Sometimes that means giving someone a warning; other times it means revoking privileges or accounts entirely. We request that all community members report behavior that violates our guidelines.
  </p>
  <h2>Agreement</h2>
  <p>By logging onto the community and using this service, you agree to the terms and conditions listed above.</p>
{% endblock content %}
