{% extends "base.html" %}

{% block content %}
  <p>
    LangCorrect ("us", "we", or "our") operates the www.langcorrect.com website (the "Service"). This privacy policy will explain how our organization uses the personal data we collect from you when you use our service.
  </p>
  <h2>Topics</h2>
  <ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies?</li>
    <li>Privacy Policy of other websites</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities?</li>
    <li>Legal Requirements</li>
    <li>Do Not Track (DNT)</li>
    <li>Regarding Minors</li>
  </ul>
  <h2>What data do we collect?</h2>
  <ul>
    LangCorrect collects the following data:
    <li>
      Account Information - When you create an account for LangCorrect, we ask you to provide information such as your name, email, password, and native/studying languages. After the account is created and verified, you have the ability to add your name (only viewable to us) and a biography (viewable to everyone on your profile page).
    </li>
    <li>
      User Content - We allow you to upload the following to our servers: journal posts, messages, comments, and other information.
    </li>
    <li>
      Support - If you contact us for assistance, we may ask you to provide information such as your name, contact information as well as the nature of your query.
    </li>
  </ul>
  <p>
    Please make sure that any personal information that you have provided us with is accurate and current. We will use this information to send you important information relating to your account.
  </p>
  <h2>How do we collect your data?</h2>
  <ul>
    You directly provide us with most of the data we collect. We collect and process data when you:
    <li>Register online or place an order for any of our products or services</li>
    <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email</li>
    <li>Use or view our website via your browser’s cookies</li>
    <li>
      We also collect any information you provide us when you write a message, journal, etc. (see user content above)
    </li>
  </ul>
  <h2>How will we use your data?</h2>
  <p>
    LangCorrect collects your data so that we can process your order and manage your account (ex: account recovery).
  </p>
  <h2>How do we store your data?</h2>
  <p>
    We store your personal data securely at a data center located in San Francisco, California. Your account password is securely encrypted with Industry standards (PBKDF2 algorithm with a SHA256 hash). In the future we plan on adding additional account security features such as two-step verification.
  </p>
  <p>
    Please remember to keep your password safe and under no circumstances should you provide it to anyone else (we will never ask you for your password). We recommend using a password manager to easily create a strong password. Keep in mind that there is no service that is 100% secure. Banks, large corporations, governments and many others have all been breached before. With this in mind, we recommend (as an additional security measure) that you do not use a password that you have used elsewhere. In case you are not aware, there is a pretty awesome website (https://haveibeenpwned.com/) where you can periodically check if your account information has been compromised in a data breach.
  </p>
  <h2>Marketing</h2>
  <p>We may send you information about premium features for LangCorrect.</p>
  <h2>What are your data protection rights?</h2>
  <ul>
    We would like to make sure you are fully aware of all your data protection rights. Every user is entitled to the following:
    <li>
      The right to access - You have the right to request copies of your personal data. We may charge you a small fee for this service (ex: mail delivery)
    </li>
    <li>
      The right to rectification - You have the right to request that we correct any information that you believe is inaccurate. You also have the right to request us to complete information that you believe is incomplete.
    </li>
    <li>
      The right to erasure - You have the right to request that we erase your personal data, under certain conditions.
    </li>
    <li>
      The right to restrict processing - You have the right to request that we restrict the processing of your personal data, under certain conditions.
    </li>
    <li>
      The right to object to processing - You have the right to object to Our Company’s processing of your personal data, under certain conditions.
    </li>
    <li>
      The right to data portability - You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.
    </li>
  </ul>
  <p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please email us at: support (at) langcorrect [dot] com
  </p>
  <h2>What are cookies?</h2>
  <p>
    Cookies are text files placed on your computer to collect standard internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology. For further information, visit allaboutcookies.org.
  </p>
  <h2>How do we use cookies?</h2>
  <p>
    We use cookies in a range of ways to improve your experience with our service, including: keeping you signed in to our service and understanding how you use our service.
  </p>
  <h2>What type of cookies do we use?</h2>
  <ul>
    There are a number of different types of cookies, however, our website uses:
    <li>
      Functionality – Our Company uses these cookies to recognize you on our website and remember your previously selected preferences. These include what language you prefer and your location. A mix of first-party and third-party cookies are used.
    </li>
    <li>
      Advertising – Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.
    </li>
  </ul>
  <h2>How to manage cookies</h2>
  <p>
    You can set your browser to not accept cookies through your browser's settings or by using a third party add-on. However, in a few cases, some of our website features may not function as a result.
  </p>
  <h2>Privacy policies of other websites</h2>
  <p>
    External links to other websites may be found on our websites or services. Our privacy policy applies only to our website, so if you click on a link to another website, please be sure to read their privacy policy.
  </p>
  <h2>How to contact us</h2>
  <p>
    If you have any questions or concerns about our privacy policy, or the data we collected about you, or if you would like to exercise one of your data protection rights, please do not hesitate to contact us.
  </p>
  <h2>How to contact the appropriate authorities</h2>
  <p>
    Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.
  </p>
  <h2>Legal Requirements</h2>
  <ul>
    We may disclose your personal data in the good faith belief that such action is necessary to:
    <li>To comply with a legal obligation</li>
    <li>To protect and defend the rights or property of LangCorrect</li>
    <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
    <li>To protect the personal safety of users of the Service or the public</li>
    <li>To protect against legal liability</li>
  </ul>
  <h2>Do Not Track (DNT)</h2>
  <p>At the moment we do not acknowledge DNT settings. In the future, DNT settings will be implemented.</p>
  <h2>Regarding minors</h2>
  <p>
    This service is not designed for minors under the age of 13. We do not intentionally gather Personal Information about visitors who are under the age of 13. If you are a parent or guardian and you are aware that your child has provided us with personal data, please contact us. We will take the necessary steps to disable the account and remove the requested data.
  </p>
{% endblock content %}
