{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  <div class="card">
    <div class="card-header d-flex justify-content-between bg-transparent">
      {% translate "Top Contributors" %}
      <small class="text-muted">
        {% blocktranslate with hours=6 %}
          *Updates every {{ hours }} hours
        {% endblocktranslate %}
      </small>
    </div>
    <div class="card-body">
      <table class="table table-striped table-responsive table-borderless m-0">
        <thead>
          <tr>
            <th scope="col">{% translate "Rank" %}</th>
            <th scope="col">{% translate "User" %}</th>
            <th scope="col">{% translate "Contributions" %}</th>
          </tr>
        </thead>
        <tbody>
          {% if self_ranking %}
            {% with contribution=self_ranking %}
              {% include "contributions/partials/contribution.html" %}
            {% endwith %}
          {% endif %}
          {% for contribution in object_list %}
            {% include "contributions/partials/contribution.html" %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
