{% load i18n %}

<div id="discard-corrections-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% translate "Are you sure?" %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">{% translate "All changes will be lost" %}</div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal">{% translate "Cancel" %}</button>
        <a href="{% url 'posts:detail' post.slug %}" class="btn btn-danger">{% translate "Discard" %}</a>
      </div>
    </div>
  </div>
</div>
