{% load i18n %}

<div class="modal fade"
     id="exportModal"
     tabindex="-1"
     aria-labelledby="exportModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="exportModalLabel">{% translate "Export corrections" %}</h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{% translate "How would you like to export the corrections?" %}</p>
        <div class="d-flex flex-column gap-3">
          <a href="{% url 'posts:export-corrections' post.slug %}?format=CSV"
             class="btn btn-outline-secondary">
            <i class="fas fa-file-csv"></i> CSV
          </a>
          <a href="{% url 'posts:export-corrections' post.slug %}?format=PDF"
             class="btn btn-outline-secondary">
            <i class="fas fa-file-pdf"></i> PDF
          </a>
          <a href="{% url 'posts:export-corrections' post.slug %}?format=JSON"
             class="btn btn-outline-secondary">
            <i class="fas fa-file-code"></i> &nbsp;JSON
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
