<div class="modal fade"
     id="lightboxModal"
     tabindex="-1"
     aria-labelledby="lightboxModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end p-3">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" alt="image" id="imageInModal" />
      </div>
    </div>
  </div>
</div>
