{% load i18n %}

<div class="modal fade"
     id="mobileNotifications"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header py-1">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Notifications" %}</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush">
          {% if request.user.notifications.unread %}
            {% include "notifications/partials/notification_loop.html" with notifications=request.user.notifications.unread %}
          {% else %}
            <li class="list-group-item">
              <p>{% trans "No notifications yet!" %}</p>
              <p>{% trans "We'll notify you when something arrives!" %}</p>
            </li>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer py-1">
        <a href="{% url 'notifications:mark_all_as_read' %}?next={% url 'home' %}"
           class="btn btn-primary">{% trans "Mark all as read" %}</a>
        <a href="{% url 'users:notifications' %}" class="btn btn-primary">{% trans "View all" %}</a>
      </div>
    </div>
  </div>
</div>
