<a href="{% url 'users:detail' corrector.user_correction__user__username %}"
   class="list-group-item list-group-item-action">
  <div class="d-flex justify-content-between align-items-center">
    <span>{{ idx }}.</span>
    <span class="text-primary">
      {% if corrector.user_correction__user__nick_name %}
        {{ corrector.user_correction__user__nick_name }}
      {% else %}
        {{ corrector.user_correction__user__username }}
      {% endif %}
    </span>
    <span class="text-muted">
      <i class="far fa-check-circle"></i> {{ corrector.correction_count }}
    </span>
  </div>
</a>
