{% load i18n %}

<table class="table table-responsive table-bordered table-hover">
  <tbody>
    {% for post_row in all_post_rows %}
      <tr>
        <td>
          <div class="card border-0">
            <div class="card-body">
              <p class="text-muted mb-2">{{ post_row.sentence }}</p>
              <hr />
              {% if post_row.postcorrection_set.exists %}
                {% for post_correction in post_row.postcorrection_set.all %}
                  {% if post_correction.feedback_type == "perfect" %}
                    <p class="text-success">{% translate "This sentence has been marked as perfect!" %}</p>
                  {% else %}
                    <div class="mb-2 p-1">
                      <p>{{ post_correction.display_correction|safe }}</p>
                      <p class="text-muted">{{ post_correction.note }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
