{% load i18n %}

<table class="table table-responsive bg-white">
  <thead>
    <tr>
      <th scope="col">{% translate "Original" %}</th>
      <th scope="col">{% translate "Corrected" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for post_row in all_post_rows %}
      <tr>
        <td>{{ post_row.sentence }}</td>
        <td>
          {% if post_row.postcorrection_set.exists %}
            {% for correction in post_row.postcorrection_set.all %}
              {% if correction.feedback_type == "perfect" %}
                <p class="text-success">{% translate "This sentence has been marked as perfect!" %}</p>
              {% else %}
                <div class="border mb-2 p-1">
                  <p>{{ correction.display_correction|safe }}</p>
                  <p class="text-muted">{{ correction.note }}</p>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
