{% load i18n %}
{% load humanize %}
{% load post_tags %}

<div class="card">
  {% include "posts/partials/card_header.html" %}
  {% for correction in corrections %}
    {% include "corrections/partials/correction.html" %}
  {% endfor %}
  {% if overall_feedback %}
    <div class="p-3">
      <p class="fw-bold">Feedback</p>
      <p>{{ overall_feedback|linebreaks }}</p>
    </div>
  {% endif %}
  <div class="accordion accordion-flush border-top {% if replies|length == 0 %}d-none{% endif %}"
       id="accordion-{{ user.username }}">
    <div class="accordion-item border-bottom">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne-{{ user }}"
                aria-expanded="false"
                aria-controls="flush-collapseOne-{{ user }}">
          Replies (<span id="reply-count-{{ user }}">{{ replies|length }}</span>)
        </button>
      </h2>
      <div id="flush-collapseOne-{{ user }}"
           class="accordion-collapse collapse"
           data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div id="reply-list-{{ user }}" class="d-grid gap-3 mb-3">
            {% for reply in replies %}
              {% with user=user current_user=current_user %}
                {% render_post_reply_card instance=reply current_user=current_user %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- reply form -->
  {% if not request.user.is_anonymous %}
    <form action="{% url 'posts:create-update-reply' %}"
          class="post-reply-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <input type="hidden" name="post" value="{{ post.slug }}" />
      <input type="hidden" name="recipient" value="{{ user.username }}" />
      <div class="d-flex flex-column gap-3 px-3 py-4">
        <textarea style="height: 100px"
                  placeholder="Write a message..."
                  class="form-control"
                  name="text"
                  required></textarea>
        <div>
          <button type="submit" class="btn btn-sm btn-outline-secondary float-end">{% translate "Submit" %}</button>
        </div>
      </div>
    </form>
  {% endif %}
</div>
