{% load i18n %}

<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-8 mb-3">
        <h5>{% translate "Legal" %}</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="{% url 'privacy-policy' %}" class="nav-link p-0 text-muted">{% translate "Privacy Policy" %}</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{% url 'community-guidelines' %}"
               class="nav-link p-0 text-muted">{% translate "Community Guidelines" %}</a>
          </li>
          <li class="nav-item mb-2">
            <a href="{% url 'terms-of-service' %}" class="nav-link p-0 text-muted">{% translate "Terms of Service" %}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <h5>{% translate "Site Languages" %}</h5>
          <input name="next" type="hidden" value="{{ redirect_to }}" />
          <div class="input-group">
            <select name="language" class="form-select form-select-sm">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"
                        {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
            <input class="btn btn-outline-secondary"
                   type="submit"
                   value="{% trans 'Go' %}" />
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© {% now 'Y' %} LangCorrect - All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-dark"
             href="https://twitter.com/langcorrect"
             target="_blank">
            <i class="fa-brands fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark"
             href="https://www.instagram.com/langcorrect/"
             target="_blank">
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark"
             href="https://www.linkedin.com/company/langcorrect"
             target="_blank">
            <i class="fa-brands fa-linkedin fa-lg"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="https://discord.gg/SsJexjK" target="_blank">
            <i class="fa-brands fa-discord fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
