{% extends "base.html" %}

{% load prompt_tags %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load post_tags %}

{% block title %}
  {% translate "Prompts" %} · LangCorrect
{% endblock title %}
{% block content %}
  <div class="alert alert-info" role="alert">
    This space is designed exclusively for generating and sharing creative writing prompts. Please refrain from posting content unrelated to writing prompts.
    <br />
    <br />
    このスペースは、クリエイティブなライティングプロンプトの生成と共有のために特別に設計されています。ライティングプロンプトに関係のない内容の投稿はご遠慮ください。
    <br />
    <br />
    本区域专为创作和分享创意写作提示而设计。请勿发布与写作提示无关的内容。
    <br />
    <br />
    이 공간은 창의적인 글쓰기 프롬프트를 생성하고 공유하기 위해 특별히 설계되었습니다. 글쓰기 프롬프트와 관련 없는 내용 게시는 삼가해 주시기 바랍니다.
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'prompts:create' %}" class="btn btn-primary">{% translate "Create a prompt" %}</a>
      </div>
      <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap border py-2 mb-3 px-3 bg-white">
        <div class="d-flex gap-2">
          <a href="{% url 'prompts:list' %}?mode=open"
             title="{% translate 'View prompts that you have not yet responded to' %}"
             class="link-secondary text-decoration-none {% if mode == 'open' %}link-dark fw-bold{% endif %}">{% translate "Open" %}</a>
          <a href="{% url 'prompts:list' %}?mode=completed"
             title="{% translate 'View prompts that you have responded to' %}"
             class="link-secondary text-decoration-none {% if mode == 'completed' %}link-dark fw-bold{% endif %}">{% translate "Completed" %}</a>
        </div>
        <div class="d-flex gap-3 align-items-center ">
          <i class="fa-solid fa-globe text-muted"></i>
          <select id="language-select"
                  class="form-select"
                  aria-label="Default select example">
            <option value="{{ language.code }}"
                    data-link="?mode={{ mode }}&lang_code=all"
                    {% if selected_lang_code == "all" %}selected{% endif %}>All</option>
            {% for language in language_filters %}
              <option value="{{ language.code }}"
                      data-link="?mode={{ mode }}&lang_code={{ language.code }}"
                      {% if selected_lang_code == language.code %}selected{% endif %}>
                {% translate language.en_name %}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="d-grid gap-3">
        {% if object_list or mode == "open" %}
          {% for prompt in object_list %}
            {% render_prompt_card instance=prompt current_user=request.user %}
          {% endfor %}
          {% include "pagination.html" %}
        {% else %}
          {% url 'prompts:list' as button_url %}
          {% include "no_content_card.html" with message="You haven't responded to any prompts." btn_message="Browse writing prompts" link=button_url %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script src="{% static 'js/post_list.js' %}"></script>
{% endblock inline_javascript %}
