{% extends "base.html" %}

{% load post_tags %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}
  {% if request.user.id == object.id %}
    {% translate "My Profile" %}
  {% else %}
    {% blocktranslate with username=user.display_name %}
      {{ username }}'s Profile
    {% endblocktranslate %}
  {% endif %}
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
{% endblock javascript %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card mb-3">
          <div class="card-body border-bottom">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
              <div class="d-flex align-items-center gap-2">
                <img src="{{ object.avatar }}" alt="profile img" />
                <h6 class="mb-0 text-break {% if object.is_premium_user %}text-premium{% endif %}">{{ object.display_name }}</h6>
              </div>
              {% include "posts/partials/card_badges.html" %}
            </div>
          </div>
          <div class="card-body border-bottom">
            <h6 class="text-primary fw-bold">
              <i class="fa-solid fa-chalkboard"></i> {% translate "Community Stats" %}
            </h6>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-percentage fa-fw"></i>
                {% blocktranslate with count=object.correction_ratio %}
                  {{ count }} correction ratio
                {% endblocktranslate %}
              </li>
              <li>
                <i class="fas fa-arrow-up fa-fw"></i>
                {% blocktranslate with count=object.corrections_made_count %}
                  {{ count }} corrections made
                {% endblocktranslate %}
              </li>
              <li>
                <i class="fas fa-arrow-down fa-fw"></i>
                {% blocktranslate with count=object.corrections_received_count %}
                  {{ count }} corrections received
                {% endblocktranslate %}
              </li>
            </ul>
          </div>
          <div class="card-body border-bottom">
            <h6 class="text-primary fw-bold">
              <i class="fa-solid fa-language"></i> {% translate "Languages" %}
            </h6>
            <ul class="list-unstyled">
              {% for ll in object.languagelevel_set.all %}<li>{{ ll }}</li>{% endfor %}
            </ul>
          </div>
          <div class="card-body border-bottom">
            <h6 class="text-primary fw-bold">
              <i class="fa-solid fa-users"></i> {% translate "Connections" %}
            </h6>
            <p>
              <small>
                <a class="text-decoration-none text-reset"
                   href="{% url 'users:following' user %}">
                  {% blocktranslate with count=user.following_users|length %}
                  Following ({{count}})
                  {% endblocktranslate %}
                </a>
                · <a class="text-decoration-none text-reset"
    href="{% url 'users:followers' user %}">
                {% blocktranslate with count=user.followers_users|length %}
                Followers ({{count}})
                {% endblocktranslate %}
              </a>
            </small>
          </p>
          {% if not request.user.id == user.id %}
            <div class="d-flex flex-column gap-2">
              <form method="post" action="{% url 'follows:follow_user' user %}">
                {% csrf_token %}
                <button type="submit"
                        href="{% url 'follows:follow_user' user %}"
                        class="btn w-100 btn-sm btn-primary">
                  {% if is_following %}
                    <i class="fa-solid fa-user-check"></i> {% translate "Following" %}
                  {% else %}
                    <i class="fa-solid fa-user-plus"></i> {% translate "Follow" %}
                  {% endif %}
                </button>
              </form>
              <a href="#" class="btn w-100 btn-sm btn-outline-danger">Report</a>
            </div>
          {% endif %}
        </div>
        {% if object == request.user %}
          <div class="card-body">
            <div class="d-grid gap-2">
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% translate "My Info" %}</a>
              <a class="btn btn-primary"
                 href="{% url 'account_email' %}"
                 role="button">{% translate "E-Mail" %}</a>
              <a class="btn btn-primary"
                 href="{% url 'languages:list' %}"
                 role="button">{% translate "Languages" %}</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="d-flex flex-column gap-3">
        {% if user.bio %}
          <div class="card">
            <div class="card-body">
              <h6>About me</h6>
              <p>{{ user.bio }}</p>
            </div>
          </div>
        {% endif %}
        <div class="card">
          <div class="card-body">
            <h6>
              {% blocktranslate with count=totalContributions %}
                     <span class="fw-bold">{{ count }}</span> contributions this year
                   {% endblocktranslate %}
            </h6>
            <div class="overflow-scroll py-3">
              <div id="cal-heatmap"></div>
            </div>
          </div>
        </div>
        {% for post in posts %}
          {% render_post_card instance=post current_user=request.user correctors=post.get_correctors %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    const cal = new CalHeatmap();
    const today = new Date();
    const startDate = new Date(today.getFullYear(), today.getMonth() - 10, 1);

    cal.paint({
      data: {
        source: "/api/v1/contributions/{{object.username}}/",
        x: (datum) => datum.date,
        y: (datum) => datum.value,
      },
      range: 12,
      scale: {
        color: {
          scheme: 'Greens',
          type: 'threshold',
          domain: [0, 25, 50, 75, 100],
        }
      },
      domain: {
        type: 'month',
        dynamicDimension: true
      },
      subDomain: {
        type: 'day',
        width: 12,
        height: 12
      },
      date: {
        start: startDate,
        highlight: [today]
      },
    }, [
      [Tooltip, {
        text: (date, value, dayjsDate) => `${value || 0} contributions on ${dayjsDate}`
      }]
    ]);
  </script>
{% endblock inline_javascript %}
