{% load humanize %}

<div class="card-header bg-transparent">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <a href="{{ user.get_absolute_url }}">
        <img src="{{ user.avatar }}" alt="{{ user.username }}'s avatar" />
      </a>
      <div>
        <a href="{{ user.get_absolute_url }}"
           class="card-title mb-0 text-decoration-none {% if user.is_premium %}text-premium{% else %}text-reset{% endif %}">{{ user.username }}</a>
        <p class="mb-0 small text-muted">{{ created|naturalday }}</p>
      </div>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="d-flex align-items-center">
        <span class="fa-stack small">
          <i class="fa-solid fa-circle fa-stack-2x text-light outlined"></i>
          <i class="fa-solid fa-fire fa-stack-1x fa-inverse text-danger"></i>
        </span>
        99
      </span>
      {% for studying_language in current_user.studying_languages %}
        {% if studying_language in user.native_languages %}
          <span class="fa-stack small">
            <i class="fa-solid fa-circle fa-stack-2x text-light outlined"></i>
            <i class="fa-solid fa-handshake fa-stack-1x fa-inverse text-primary"></i>
          </span>
        {% endif %}
      {% endfor %}
      {% if user.is_premium %}
        <span class="fa-stack small">
          <i class="fa-solid fa-circle fa-stack-2x text-light outlined"></i>
          <i class="fa-solid fa-crown fa-stack-1x fa-inverse color-premium"></i>
        </span>
      {% endif %}
    </div>
  </div>
</div>
