{% load i18n %}
{% load humanize %}

<div class="card">
  {% include "posts/partials/card_header.html" %}
  <div class="card-body {% if not disable_stretched_link %}hoverable{% endif %}">
    <div class="position-relative">
      {% if post.prompt %}
        <div class="border-start border-2 px-2 mb-2">
          <a href="{{ post.prompt.get_absolute_url }}"
             class="link-secondary text-decoration-none">
            <i class="fa-solid fa-signature pe-1"></i>
          {{ post.prompt.content }}</a>
        </div>
      {% endif %}
      <h5>{{ post.title }}</h5>
      <p class="mb-0 {% if not disable_text_truncation %}truncate-text line-clamp-10{% endif %}">
        {{ post.text|linebreaksbr }}
      </p>
      {% if not disable_native_text and post.native_text %}
        <hr class="text-muted" />
        <p class="mt-3 text-muted">{{ post.native_text|linebreaksbr }}</p>
      {% endif %}
      {% if not disable_stretched_link %}
        <a href="{{ post.get_absolute_url }}"
           class="stretched-link link-secondary"></a>
      {% endif %}
    </div>
  </div>
  <div class="card-footer bg-transparent">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <div class="d-flex align-items-center gap-1">
          <span class="chip"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-title="{{ post.language }}">
            <i class="fa-solid fa-globe pe-1"></i>  {{ post.language.code }}
          </span>
          <span class="chip"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-title="{% translate 'Correctors' %}">
            <i class="fa-regular fa-circle-check pe-1"></i> {{ post.corrected_by_count }}
          </span>
        </div>
      </div>
      {% if current_user.id == user.id %}
        <div>
          <a href="{% url 'posts:delete' post.slug %}"
             class="btn btn-sm btn-outline-danger">{% translate "Delete" %}</a>
          <a href="{% url 'posts:update' post.slug %}"
             class="btn btn-sm btn-outline-secondary">{% translate "Edit" %}</a>
        </div>
      {% elif post.language not in current_user.native_languages %}
        <div data-bs-toggle="tooltip"
             data-bs-placement="bottom"
             data-bs-title="You can only correct journals in your native language(s)">
          <button type="button" class="btn btn-sm btn-outline-secondary" disabled>
            <i class="fa-solid fa-ban"></i>
          </button>
        </div>
      {% else %}
        <a href="{% url 'posts:make-corrections' post.slug %}"
           class="btn btn-sm {% if already_corrected %} btn-primary {% else %} btn-outline-primary {% endif %}">
          <i class="fa-regular fa-circle-check"></i>
          {% if already_corrected %}
            {% translate "Corrected" %}
          {% else %}
            {% translate "Correct" %}
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</div>
