{% load humanize %}

<div class="card">
  {% include "posts/partials/card_header.html" %}
  <div class="card-body">
    {% if instance.correction or instance.parent %}
      <div class="border-start border-5 py-2 px-3">
        {% if instance.correction.feedback_type == "perfect" %}
          <p class="text-success">{{ instance.correction.post_row.sentence }}</p>
        {% elif instance.correction.feedback_type == "corrected" %}
          <p>{{ instance.correction.display_correction|safe }}</p>
        {% elif instance.parent %}
          <p class="text-muted">{{ instance.parent.text }}</p>
        {% endif %}
      </div>
    {% endif %}
    <p class="mb-0">{{ instance.text|linebreaksbr }}</p>
  </div>
</div>
