@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

// project specific CSS goes here

/////////////
//  Fonts  //
/////////////

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 500 900;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 500 900;
}

@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 500 900;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('../fonts/NotoSansSC-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 500 900;
}

:lang(zh-hant) {
  font-family: 'Noto Sans TC';
}

:lang(zh-hans) {
  font-family: 'Noto Sans SC';
}

:lang(ja) {
  font-family: 'Noto Sans JP';
}

:lang(kr) {
  font-family: 'Noto Sans KR';
}

:root {
  --chip-font-size: 0.8125rem;
  --chip-height: 26px;
  --chip-border-radius: 16px;
  --chip-padding: 1px 8px;
  --chip-border-color: rgb(97, 97, 97);
}

body {
  background: #f1f4f8;
  font-family: 'Noto Sans', sans-serif;
}

.index-heading-width {
  width: 25rem;
}

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$premium: #ff9066;

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

///////////////
//  Utility  //
///////////////

.pointer {
  cursor: pointer;
}

.hoverable:hover {
  background: rgba(0, 0, 0, 0.075);
  transition: 500ms;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.z-9999 {
  z-index: 9999;
}

///////////////
//   Post    //
///////////////

.chip {
  font-size: var(--font-size-chip);
  height: var(--chip-height);
  border-radius: var(--chip-border-radius);
  padding: var(--chip-padding);
  box-sizing: border-box;
  border: 1px solid var(--chip-border-color);
}

//////////////////////
//   Corrections   //
/////////////////////

ins {
  text-decoration: none;
}

ins,
del {
  padding: 0 3px;
  font-weight: 600;
}

////////////////
//  Rankings  //
////////////////

.ranking-item {
  width: 6rem;
}

////////////////
//  Nav tabs  //
////////////////

.nav-tabs .nav-link {
  color: $text-muted;
  border: 0;
  border-bottom: none;
}

.nav-tabs .nav-link:hover {
  border: 0;
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  color: $primary;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $primary;
}

////////////////
//   Chats    //
////////////////

.messenger-wrapper {
  // background: chocolate;
  // flex-grow: 1;
  display: flex;
  height: 900px;
}

.messenger__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.messenger__header h5 {
  margin-bottom: 0;
  font-weight: 800;
}

/* .messenger__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
} */

.messenger__dialogs__search {
  margin-bottom: 1rem;
  background-color: #ebf1f7;
  border-radius: 10px;
}

.messenger__dialogs__search form input {
  padding: 0.25rem;

  width: 100%;
}

aside {
  background-color: #f6f9fb;
  width: 250px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

main {
  // background-color: brown;
  flex-grow: 1;
}

.dialogs__container {
  background-color: inherit;
  overflow-y: scroll;
  max-height: calc(100dvh - 40px - 1rem - 1rem - 110px);
}

.dialogs__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialogs__card {
  padding: 0.75rem 1rem;
  height: 100px;
  background-color: white;
  border-radius: 0.6rem;
  background-clip: border-box;

  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dialogs__card__avatar {
  position: relative;
  box-sizing: border-box;
}

.dialogs__card__avatar .avatar__online {
  position: absolute;
  top: 0;
  left: 2px;
  color: green;
  font-size: 8px;
  box-sizing: border-box;
}

.dialogs__card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialogs__card__header h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 2px;
}

.dialogs__card__header p {
  font-size: 10px;
  margin-bottom: 0;
}

.dialogs__card p {
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal;
  margin-bottom: 0;
  line-height: 1.26;
}

.chat__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat__header {
  height: 80px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--bs-light);
}

.chat__form {
  height: 150px;
  background-color: var(--bg-light);
  padding: 1.25rem;
}

.chat__messages {
  background-color: #f3f3f3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  height: 800px;
}

.message {
  display: flex;
  align-items: flex-end;
}

.outgoing {
  flex-direction: row-reverse;
}

.bubble {
  max-width: 350px;
  padding: 1rem 1.25rem;
  background-color: #f6f9fb;
  border-radius: 0.6rem;
}

.outgoing .bubble {
  background-color: var(--bs-primary);
  color: white;
}

.empty__chat__container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
}
