{% extends "base.html" %}

{% load static %}
{% load post_tags %}
{% load correction_tags %}

{% block content %}
  <div class="py-4 d-grid gap-3">
    {% render_post_card instance=post current_user=request.user disable_stretched_link=True %}
    <div class="d-flex align-items-center justify-content-end gap-2">
      <span>Corrections</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa-solid fa-user"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa-solid fa-layer-group"></i>
        </button>
      </div>
    </div>
    {% for corrector, data in user_corrections.items %}
      {% render_user_correction_card user=corrector current_user=request.user post=post correction_data=data %}
    {% endfor %}
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script src="{% static 'js/post_detail.js' %}"></script>
{% endblock inline_javascript %}
