{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load post_tags %}
{% load correction_tags %}

{% block content %}
  <div class="d-grid gap-3">
    {% render_post_card instance=post current_user=request.user correctors=post.get_correctors disable_stretched_link=True %}
    {% if post.postimage_set.all %}
      <div class="card">
        <div class="card-header">Attachments</div>
        <div class="d-grid gap-3 p-3">
          {% for image in post.postimage_set.all %}
            <img src="{{ image.get_image_url }}"
                 class="img-thumbnail pointer js-lightbox-img"
                 alt="image"
                 height="100"
                 width="100"
                 data-img-src="{{ image.get_image_url }}" />
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="d-flex align-items-center justify-content-end gap-2">
      <span>Corrections</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa-solid fa-user"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <i class="fa-solid fa-layer-group"></i>
        </button>
      </div>
    </div>
    {% for corrector, data in user_corrections.items %}
      {% with user=corrector current_user=request.user %}
        {% render_user_correction_card user=user current_user=current_user post=post correction_data=data %}
      {% endwith %}
    {% endfor %}
  </div>
{% endblock content %}
{% block modal %}
  {{ block.super }}
  {% include "modals/light_box.html" %}
{% endblock modal %}
{% block inline_javascript %}
  <script src="{% static 'js/post_detail.js' %}"></script>
{% endblock inline_javascript %}
