{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% block title %}
  {% translate "My Corrections" %} · LangCorrect
{% endblock title %}
{% block content %}
  <h3>{% translate "My Corrections" %}</h3>
  {% if object_list %}
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{% translate "Title" %}</th>
            <th scope="col">{% translate "Language" %}</th>
            <th scope="col">{% translate "Author" %}</th>
            <th scope="col">{% translate "Correction Date" %}</th>
            <th scope="col">{% translate "Corrections Made" %}</th>
            <th scope="col">{% translate "Action" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for post_user_correction in object_list %}
            <tr>
              <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
              <td>{{ post_user_correction.post.title }}</td>
              <td>{{ post_user_correction.post.language.code }}</td>
              <td>{{ post_user_correction.post.user.display_name }}</td>
              <td>{{ post_user_correction.created| naturalday }}</td>
              <td>{{ post_user_correction.postcorrection_set.count }}</td>
              <td>
                <a href="{{ post_user_correction.post.get_absolute_url }}"
                   class="btn btn-sm btn-outline-secondary">{% translate "Visit" %}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "pagination.html" %}
  {% else %}
    {% url 'posts:list' as button_url %}
    {% include "no_content_card.html" with message="You haven't made any corrections." btn_message="Browse entries to correct" link=button_url %}
  {% endif %}
{% endblock content %}
